.cards-container {
  width: 50%;
}
.cards-title {
  font-weight: bold;
  font-size: 18px;
  padding: 10px 0px 20px 0px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px 20px;
}
