.home {
  display: flex;
  flex-direction: column;
  background-color: #eae7e3;
  margin-top: 10px;
  margin-left: 10px;
  width: 1000px;
  height: 100%;
}

.rowContainer {
  align-items: center;
}

.row {
  padding: 20px;
}
